<div class="text3">
<h1>About Us</h1>
</div>
 <div class="text1"> 
<p><b><h1>We are mainly the group of three people who were eager to learn about modern technlogies in Computer science.
Presently we are persueing B.tech in Computer Science from Dr. M.C Saxena Group Of Colleges ,Lucknow.Presently We are in 8th semester. 
We are Team of three peoples namely Sawan Kumar Yadav,Ashutosh Ranjan,Ashish Ranjan.We all are full stack developers.
In this Project we are designing the UI of an IOT Application 
which is used by Users to connect there different hardwares through our functionalities provided for different devices in our UI.  
</p></b></h1>
</div> 