<div class = "text2">
<h1>For Any Queries  :</h1>
<h2 style = "font-size:1.4vw; margin-top:50px;">Mail At: <h3 style = "font-size:1.3vw;"> ashutoshranjansingh458@gmail.com </h3> </h2>
<h2 style = "font-size:1.4vw; margin-top:30px;">Call At:<h3 style = "font-size:1.3vw;  "> 8318074991</h3> </h2>
</div>