

        <div class="text3">
        <h1>WHat Is Iot</h1>
        </div>
        
<div class="text1">
<p><b><h1>
The internet of things, or IoT, is a system of interrelated computing devices,
mechanical and digital machines, objects, animals or people that are provided with unique identifiers (UIDs) 
and the ability to transfer data over a network without requiring human-to-human or human-to-computer interaction.
The definition of the Internet of things has evolved due to the convergence of multiple technologies, 
real-time analytics, machine learning, commodity


 sensors, and embedded systems. Traditional fields of embedded 
systems, wireless sensor networks, control systems, automation (including home and building automation), 
and others all contribute to enabling the Internet of things. In the consumer market, IoT technology 
is most synonymous with products pertaining to the concept of the "smart home", covering devices and appliances 
(such as lighting fixtures, thermostats, home security systems and cameras,

and other home appliances) that support one or more common ecosystems, 
and can be controlled via devices associated with that ecosystem, such as smartphones and smart speakers.
<a href="https://en.wikipedia.org/wiki/Internet_of_things" style="text-decoration: underline; font-size: 1.5vw;">more.....</a>
</p></b></h1>
</div>
  
  
        
 